@use '../core/color' as *;

.app_admin_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;

  .app_admin_cover_wrapper {
    width: calc(100% - 290px);
    background: $sidebar;
    margin-left: 290px;
    border-right: 1px solid $border;
  }
}
