@use '../core/color' as *;

.app_admin_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;

  .app_admin_cover_wrapper {
    width: calc(100% - 250px);
    margin-left: 250px;
    border-right: 1px solid $gray-50;
    min-height: 100vh;

    .app_page_inside_cover {
      width: 100%;
      display: flex;
      flex-direction: column;

      .app_inside_top_area {
        background: $backcol;
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 250px);
        position: fixed;
        top: 0px;
        z-index: 2;

        .app_top_page_cover {
          width: 33.3%;
          display: flex;
        }

        .app_search_top_area {
          width: 33.3%;
          display: flex;
          align-items: center;

          .app_header_search {
            display: flex;
            width: 70%;
            align-items: center;
            background: #e4e3e8;
            padding: 6px 10px;
            border-radius: 6px;

            & > svg {
              width: 16px;
              height: 16px;
              margin-right: 8px;

              & > path {
                stroke: $gray-30;
              }
            }

            & > p {
              font-size: 13px;
              color: $gray-30;
            }
          }
        }

        .app_notify_top_area {
          width: 33.3%;
          display: flex;
          padding-right: 20px;
          align-items: center;
          justify-content: flex-end;

          .app_upgrade_btn {
            display: flex;
            align-items: center;
            padding: 5px 12px;
            border-radius: 6px;
            background: $orange-90;

            & > svg {
              width: 16px;
              height: 16px;
              margin-right: 8px;
              color: $orange-20;
            }

            & > p {
              font-size: 13px;
              color: $orange-20;
            }
          }
        }
      }
    }
  }
}

.app_top_page_information {
  width: 100%;
  display: flex;
  height: 51px;
  align-items: center;
  padding: 0px;

  .app_top_breadcumb {
    display: flex;
    gap: 6px;

    & > span {
      color: $gray-50;
    }

    & > a {
      display: flex;
      font-size: 13px;
      font-weight: 500;
      align-items: center;
      color: $gray-50;
      transition: 0.5s;

      & > svg {
        width: 14px;
        height: 14px;
        margin-right: 5px;

        & > path {
          stroke: $gray-50;
          transition: 0.5s;
        }
      }

      &:last-child {
        color: $blue-30;
        transition: 0.5s;

        & > svg > path {
          stroke: $blue-30;
          transition: 0.5s;
        }
      }
    }
  }
}
