@use 'sass:color';
@use '../core/color' as *;

.app_auth_wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;

  .app_auth_wrapper_sidebar {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;

    .app_auth_logo {
      position: absolute;
      top: 20px;
      left: 40px;
      width: 120px;
      height: auto;

      & > span {
        width: 100%;

        & > img {
          width: 100%;
          height: auto;
        }
      }
    }

    .app_auth_form_cover {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      .app_auth_form_inside {
        width: 420px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $white;
        padding: 28px 40px 36px;
        border-radius: 10px;
        box-shadow: $shadow-1;

        .app_auth_inside_cover {
          width: 100%;
          display: flex;
          flex-direction: column;

          h1 {
            font-family: $font;
            width: 100%;
            text-align: center;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 4px;
          }

          & > p {
            color: $bodytext;
            width: 100%;
            text-align: center;
            font-size: 15px;
            font-weight: 500;
            line-height: 18px;
            margin-bottom: 20px;
          }

          .app_auth_form {
            width: 100%;
            display: flex;
            flex-direction: column;

            form {
              gap: 10px;
              width: 100%;
              display: flex;
              flex-direction: column;

              .app_form_input_row {
                display: flex;
                gap: 10px;
              }

              .app_form_input {
                gap: 2px;
                display: flex;
                flex-direction: column;

                label {
                  color: $bodytext;
                  width: 100%;
                  font-size: 14px;
                  font-weight: 500;

                  & > span {
                    color: $red-900;
                    font-size: 16px;
                  }
                }

                & > input {
                  width: 100%;
                  height: 44px;
                  padding: 0 16px;
                  border-radius: 6px;
                  font-weight: 500;
                  font-size: 15px;
                  border: 1px solid $inputborder;
                }

                & > p {
                  text-align: left;
                  font-family: $font;
                  font-weight: 500;
                  font-size: 12px;
                  margin-top: 4px;
                  color: $gray-300;
                  margin-bottom: 0px;
                  line-height: normal;
                }
              }

              .app_forgot_link {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 0px;

                & > a {
                  color: $btnblue;
                  font-family: $font;
                  font-weight: 500;
                  font-size: 14px;
                }
              }

              .app_form_btn {
                display: flex;
                gap: 10px;
                margin-bottom: 8px;

                button {
                  height: 44px;
                  width: 100%;
                  padding: 0 30px;
                  background: $btnblue;
                  color: $white;
                  font-weight: 500;
                  font-size: 15px;
                  border-radius: 6px;
                  border: 0px solid transparent;
                  margin-top: 10px;
                  cursor: pointer;
                  transition: 0.5s;
                }
              }

              .app_or_text {
                width: 100%;
                margin-top: 10px;

                & > p {
                  color: $bodytext;
                  width: 100%;
                  text-align: center;
                  font-size: 15px;
                  font-weight: 500;
                }
              }

              .app_social_login_register {
                width: 100%;
                margin-bottom: 20px;

                & > ul {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: 100%;
                  gap: 10px;

                  & > li {
                    gap: 6px;
                    width: 33%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    padding: 6px 10px;
                    border-radius: 6px;
                    border: 1px solid color.adjust($border, $lightness: -20%);

                    & > svg {
                      width: 16px;
                      height: 16px;
                    }

                    & > p {
                      color: $bodytext;
                      font-size: 13px;
                      font-weight: 500;
                    }

                    &:nth-child(2) {
                      & > svg {
                        width: 19px;
                        height: 19px;
                      }
                    }
                  }
                }
              }

              .app_register_link {
                display: flex;
                justify-content: center;

                & > p {
                  font-family: $font;
                  font-weight: 500;
                  font-size: 14px;
                  margin-bottom: 0px;
                  line-height: 22px;

                  & > a {
                    color: $btnblue;
                    text-decoration: underline;
                  }
                }
              }
            }

            .app_policy_info {
              width: 100%;
              border-top: 1px solid $border;
              margin-top: 24px;
              padding-top: 18px;

              & > p {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $font;
                font-weight: 500;
                font-size: 12px;
                margin-bottom: 0px;
                color: $gray-300;

                & > a {
                  gap: 5px;
                  display: flex;
                  color: $btnblue;
                  align-items: center;
                  text-decoration: underline;

                  & > svg {
                    width: 10px;
                    height: 10px;
                  }
                }
              }

              & > ul {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 24px;
                margin-top: 24px;

                & > li {
                  width: auto;

                  & > a {
                    gap: 5px;
                    width: 100%;
                    display: flex;
                    font-weight: 500;
                    font-size: 12px;
                    justify-content: center;
                    align-items: center;
                    color: $btnblue;
                    text-decoration: underline;

                    & > svg {
                      width: 10px;
                      height: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .app_background_content {
      z-index: -1;
      background-color: $white;
      background-image:
        linear-gradient($white 20%, #fff0), url('/auth_bg.svg'),
        url('/bglogin.png');
      background-position:
        0 0,
        50% 100%,
        center;
      background-size:
        auto,
        156px 144px,
        cover;
      position: absolute;
      inset: 0%;
      opacity: 0.6;
    }
  }

  // .app_auth_wrapper_background {
  //   display: flex;
  //   height: 100vh;
  //   width: 50%;
  //   position: relative;
  //   background-image: url('/background.jpg');
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }
}
