@use 'sass:color';
@use '../core/color' as *;

.app_sidebar {
  position: fixed;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: $backcol;

  .app_sidebar_colum_cover {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;

    .app_sidebar_content {
      display: flex;
      width: 100%;
      padding: 0px;
      height: 100vh;
      flex-direction: column;
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .app_sidebar_logo {
        width: 100%;
        height: auto;
        display: flex;
        padding: 14px 15px 10px;
        align-items: center;
        justify-content: center;

        & > span {
          display: flex;
          width: 100%;
          height: auto;
          align-items: flex-start;

          & > svg {
            width: auto;
            height: 30px;
          }
        }
      }

      .app_select_project {
        position: sticky;
        top: 0px;
        z-index: 2;
        display: flex;
        margin-bottom: 20px;
        padding: 14px 15px;
        align-items: center;
        background: $backcol;

        & > span {
          width: 34px;
          height: 34px;
          background: #2a7b9b;
          background: linear-gradient(
            90deg,
            rgba(42, 123, 155, 1) 0%,
            rgba(87, 199, 133, 1) 50%,
            rgba(237, 221, 83, 1) 100%
          );
          border-radius: 6px;
        }

        .app_selected_project {
          width: calc(100% - 50px);
          display: flex;
          flex-direction: column;
          margin-left: 10px;

          & > p {
            color: $gray-300;
            font-size: 11px;
            font-weight: 500;
            line-height: 16px;
          }

          & > h5 {
            color: $btnblue;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
          }
        }
      }

      .app_sidebar_main_menu {
        width: 100%;
        padding: 0px 15px;

        & > ul {
          width: 100%;
          gap: 24px;
          display: flex;
          flex-direction: column;

          & > li {
            display: flex;
            flex-direction: column;
            width: 100%;

            & > p {
              display: flex;
              gap: 10px;
              color: $btnblue;
              font-size: 11px;
              font-weight: 600;
              text-transform: uppercase;

              & > svg {
                width: 20px;
                height: 20px;
              }
            }

            & > ul {
              width: 100%;
              display: flex;
              margin-top: 6px;
              flex-direction: column;

              & > li {
                display: flex;
                width: 100%;

                & > a {
                  display: flex;
                  align-items: center;
                  width: 100%;
                  gap: 9px;
                  padding: 7px 9px;
                  font-weight: 500;
                  font-size: 14px;
                  color: $black;
                  border-radius: 6px;
                  position: relative;

                  & > svg {
                    width: 20px;
                    height: 20px;
                  }

                  & > span {
                    top: 15px;
                    right: 10px;
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    background: color.adjust($red-300, $lightness: -7%);
                    border-radius: 50%;
                    color: $white;
                    text-align: center;
                  }
                }

                &:hover a,
                &.activeLink a {
                  color: $btnblue;
                  background: $white;
                  box-shadow: $shadow-2;

                  & > svg > path,
                  & > svg > g > path {
                    stroke: $btnblue;
                  }
                }
              }
            }
          }
        }
      }

      .app_sidebar_assignee {
        width: 100%;
        margin-top: 20px;

        & > h5 {
          color: $btnblue;
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 10px;
        }

        & > ul {
          width: 100%;
          gap: 12px;
          display: flex;
          flex-direction: column;

          & > li {
            display: flex;
            width: 100%;
            gap: 14px;

            & > span {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }

  .app_upgrade_section {
    display: flex;
    flex-wrap: wrap;
    padding: 14px 12px;
    position: sticky;
    bottom: 0px;
    background: $backcol;

    & > span {
      width: 35px;
      height: 35px;
      background: $gray-100;
      border-radius: 50%;
      overflow: hidden;

      & > img {
        width: 100%;
        height: auto;
      }
    }

    .app_user_info {
      width: calc(100% - 75px);
      margin-left: 5px;

      h2 {
        font-size: 14px;
        font-weight: 500;
        color: $black;
      }

      & > p {
        display: flex;
        align-items: center;
        color: color.adjust($gray-300, $lightness: 16%);
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
      }
    }

    .app_logout_btn {
      display: flex;
      width: 35px;
      height: 35px;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: color.adjust($red-100, $lightness: 28%);

      & > svg {
        width: 20px;
        height: 20px;

        & > path {
          stroke: color.adjust($red-300, $lightness: -6%);
        }
      }
    }
  }
}
