@use 'sass:color';
@use '../core/color' as *;

.app_sidebar {
  position: fixed;
  width: 290px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: $white;

  .app_sidebar_colum_cover {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;

    .app_sidebar_column {
      width: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-right: 1px solid $border;
      padding: 10px 8px;
      position: relative;
      z-index: 1;

      .app_sidebar_col {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .app_sidebar_logo {
          width: 100%;
          height: 34px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 4rem;

          & > svg {
            width: 34px;
            height: 34px;
          }
        }
      }

      .app_sidebar_col_bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }

    .app_product_links {
      width: 100%;

      & > ul {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;

        & > li {
          width: 100%;
          height: 45px;
          display: flex;
          cursor: pointer;
          align-items: center;
          text-align: center;
          position: relative;
          border-radius: 8px;
          justify-content: center;

          & > svg {
            width: 22px;
            height: 22px;
            transition: 0.5s;
          }

          & > span {
            position: absolute;
            top: 50%;
            left: 100%;
            width: auto;
            color: $white;
            display: none;
            padding-left: 10px;
            transform: translateY(-50%);

            &:after {
              content: '';
              position: absolute;
              width: 10px;
              height: 10px;
              left: 5px;
              top: 50%;
              transform: translateY(-50%) rotate(45deg);
              background: $gray-600;
            }

            & > p {
              text-align: left;
              padding: 8px 12px;
              border-radius: 8px;
              font-size: 14px;
              font-weight: 500;
              background: $gray-600;
            }
          }

          &:hover {
            background: color.adjust($gray-100, $lightness: 2%);

            & > svg {
              opacity: 1;
              transition: 0.5s;

              & > path {
                stroke: $btnblue;
              }
            }

            & > span {
              display: block;
            }
          }

          &.app_active_link {
            background: color.adjust($gray-100, $lightness: 2%);

            & > svg {
              opacity: 1;
              transition: 0.5s;

              & > path {
                stroke: $btnblue;
              }
            }
          }

          &.app_logout_btn {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: $red-100;

            & > svg > path {
              stroke: $red-900;
            }
          }
        }
      }
    }

    .app_sidebar_content {
      display: flex;
      width: 100%;
      padding: 0px;
      height: 100vh;
      flex-direction: column;
      border-right: 1px solid $border;
      gap: 14px;
      overflow-y: auto;

      .app_select_project {
        position: sticky;
        top: 0px;
        z-index: 2;
        display: flex;
        padding: 10px 15px;
        background: $white;
        align-items: center;
        border-bottom: 1px solid $border;

        & > span {
          width: 40px;
          height: 40px;
          background: $gray-100;
          border-radius: 10px;
          border: 1px solid $border;
        }

        .app_selected_project {
          width: calc(100% - 50px);
          display: flex;
          flex-direction: column;
          margin-left: 10px;

          & > p {
            color: $gray-300;
            font-size: 11px;
            font-weight: 500;
          }

          & > h5 {
            color: $btnblue;
            font-size: 15px;
            font-weight: 500;
          }
        }
      }

      .app_sidebar_main_menu {
        width: 100%;
        padding: 0px 15px;

        & > ul {
          width: 100%;
          gap: 24px;
          display: flex;
          flex-direction: column;

          & > li {
            display: flex;
            flex-direction: column;
            width: 100%;

            & > p {
              display: flex;
              gap: 10px;
              color: $btnblue;
              font-size: 11px;
              font-weight: 600;
              text-transform: uppercase;

              & > svg {
                width: 20px;
                height: 20px;
              }
            }

            & > ul {
              width: 100%;
              display: flex;
              margin-top: 6px;
              flex-direction: column;

              & > li {
                display: flex;
                width: 100%;

                & > a {
                  display: flex;
                  align-items: center;
                  width: 100%;
                  gap: 9px;
                  padding: 7px 12px;
                  font-weight: 500;
                  font-size: 14px;
                  color: $black;
                  border-radius: 6px;
                  position: relative;

                  & > svg {
                    width: 20px;
                    height: 20px;
                  }

                  & > span {
                    top: 15px;
                    right: 10px;
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    background: color.adjust($red-900, $lightness: -7%);
                    border-radius: 50%;
                    color: $white;
                    text-align: center;
                  }
                }

                &:hover a,
                &.activeLink a {
                  color: $btnblue;
                  background: color.adjust($blue-100, $lightness: 7%);

                  & > svg > path,
                  & > svg > g > path {
                    stroke: $btnblue;
                  }
                }
              }
            }
          }
        }
      }

      .app_sidebar_assignee {
        width: 100%;
        margin-top: 20px;

        & > h5 {
          color: $btnblue;
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 10px;
        }

        & > ul {
          width: 100%;
          gap: 12px;
          display: flex;
          flex-direction: column;

          & > li {
            display: flex;
            width: 100%;
            gap: 14px;

            & > span {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }

  .app_upgrade_section {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 12px;
    border-top: 1px solid $border;
    background: $white;
    position: sticky;
    bottom: 0px;

    & > span {
      width: 40px;
      height: 40px;
      background: $gray-100;
      border-radius: 50%;
      overflow: hidden;

      & > img {
        width: 100%;
        height: auto;
      }
    }

    .app_user_info {
      width: calc(100% - 50px);
      margin-left: 10px;

      h2 {
        font-size: 14px;
        font-weight: 500;
        color: $gray-600;
      }

      & > p {
        display: flex;
        align-items: center;
        color: $gray-300;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
      }
    }
  }
}
