@use 'sass:color';
@use '../core/color' as *;

.app_sidebar {
  position: fixed;
  width: 290px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: $white;

  .app_sidebar_column {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid $border;
    background: $white;
    padding: 20px 8px;

    .app_sidebar_col {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .app_sidebar_logo {
        width: 100%;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;

        & > svg {
          width: 34px;
          height: 34px;
        }
      }
    }

    .app_sidebar_col_bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  .app_product_links {
    width: 100%;

    & > ul {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 8px;

      & > li {
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        text-align: center;
        position: relative;
        border-radius: 8px;
        justify-content: center;

        & > svg {
          width: 22px;
          height: 22px;
          cursor: pointer;
          transition: 0.5s;
        }

        & > span {
          position: absolute;
          top: 50%;
          left: 100%;
          width: auto;
          color: $white;
          display: none;
          padding-left: 10px;
          transform: translateY(-50%);

          &:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            left: 5px;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            background: $gray-600;
          }

          & > p {
            text-align: left;
            padding: 8px 12px;
            border-radius: 8px;
            font-size: 14px;
            font-weight: 500;
            background: $gray-600;
          }
        }

        &:hover {
          background: color.adjust($gray-100, $lightness: 2%);

          & > svg {
            opacity: 1;
            transition: 0.5s;

            & > path {
              stroke: $btnblue;
            }
          }

          & > span {
            display: block;
          }
        }

        &.app_active_link {
          background: color.adjust($gray-100, $lightness: 2%);

          & > svg {
            opacity: 1;
            transition: 0.5s;

            & > path {
              stroke: $btnblue;
            }
          }
        }
      }
    }
  }

  .app_sidebar_content {
    display: flex;
    width: 100%;
    padding: 20px 15px;
    flex-direction: column;
    border-right: 1px solid $border;
    gap: 14px;
    overflow-y: auto;

    .app_sidebar_main_menu {
      width: 100%;

      & > ul {
        width: 100%;
        gap: 24px;
        display: flex;
        flex-direction: column;

        & > li {
          display: flex;
          flex-direction: column;
          width: 100%;

          & > p {
            display: flex;
            gap: 10px;
            color: $btnblue;
            font-size: 11px;
            font-weight: 600;
            text-transform: uppercase;

            & > svg {
              width: 20px;
              height: 20px;
            }
          }

          & > ul {
            width: 100%;
            display: flex;
            margin-top: 6px;
            flex-direction: column;

            & > li {
              display: flex;
              width: 100%;

              & > a {
                display: flex;
                align-items: center;
                width: 100%;
                gap: 9px;
                padding: 7px 12px;
                font-weight: 500;
                font-size: 14px;
                color: $black;
                border-radius: 6px;
                position: relative;

                & > svg {
                  width: 20px;
                  height: 20px;
                }

                & > span {
                  top: 8px;
                  right: 10px;
                  position: absolute;
                  width: 20px;
                  height: 20px;
                  background: color.adjust($red-900, $lightness: -7%);
                  border-radius: 50%;
                  font-size: 10px;
                  font-weight: 600;
                  color: $white;
                  line-height: 20px;
                  text-align: center;
                }
              }

              &:hover a,
              &.activeLink a {
                background: color.adjust($gray-100, $lightness: 2%);

                & > svg > path,
                & > svg > g > path {
                  stroke: $btnblue;
                }
              }
            }
          }
        }
      }
    }

    .app_sidebar_assignee {
      width: 100%;
      margin-top: 20px;

      & > h5 {
        color: $btnblue;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      & > ul {
        width: 100%;
        gap: 12px;
        display: flex;
        flex-direction: column;

        & > li {
          display: flex;
          width: 100%;
          gap: 14px;

          & > span {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
