$font: 'Basel', sans-serif;

$black: #000000;
$white: #ffffff;

$backcol: #f3f3f7;
$green-10: #004d1b;
$green-20: #016620;
$green-30: #078029;
$green-40: #109932;
$green-50: #1cb33d;
$green-60: #28c244;
$green-70: #51d164;
$green-80: #7fe18b;
$green-90: #b3f0b8;
$green-100: #d8ffda;
$blue-10: #002a78;
$blue-20: #0144b1;
$blue-30: #0d59c3;
$blue-40: #0d71ec;
$blue-50: #1283ff;
$blue-60: #1a90ff;
$blue-70: #57b3ff;
$blue-80: #87cdff;
$blue-90: #b8e3ff;
$blue-100: #c7ebff;
$yellow-10: #754501;
$yellow-20: #996004;
$yellow-30: #c17d00;
$yellow-40: #e59f06;
$yellow-50: #f2b411;
$yellow-60: #fac31d;
$yellow-70: #ffdb57;
$yellow-80: #ffe055;
$yellow-90: #ffec7b;
$yellow-100: #fff096;
$magenta-10: #4d002e;
$magenta-20: #770747;
$magenta-30: #a21962;
$magenta-40: #cc317f;
$magenta-50: #f7529f;
$magenta-60: #f969a7;
$magenta-70: #ff96c2;
$magenta-80: #fcacc9;
$magenta-90: #fdcdde;
$magenta-100: #ffdfea;
$teal-10: #00424d;
$teal-20: #035d67;
$teal-30: #0f7a82;
$teal-40: #0f9da3;
$teal-50: #32b8b8;
$teal-60: #46c6c2;
$teal-70: #68d4cd;
$teal-80: #90e3db;
$teal-90: #baf1e9;
$teal-100: #ccfff6;
$orange-10: #5c1a00;
$orange-20: #7d2600;
$orange-30: #a03702;
$orange-40: #c54505;
$orange-50: #e95409;
$orange-60: #f56d20;
$orange-70: #ff8a41;
$orange-80: #ffab6c;
$orange-90: #ffc499;
$orange-100: #ffe1c7;
$purple-10: #29004d;
$purple-20: #440971;
$purple-30: #651c95;
$purple-40: #8a38ba;
$purple-50: #b25bde;
$purple-60: #c477e5;
$purple-70: #e1b0ef;
$purple-80: #e1b0ef;
$purple-90: #f0cbf8;
$purple-100: #f8dbff;
$red-10: #4d000a;
$red-20: #770611;
$red-30: #a1151e;
$red-40: #cc2b2f;
$red-50: #f64747;
$red-60: #f8615c;
$red-70: #fa877f;
$red-80: #fbada3;
$red-90: #fdcfc8;
$red-100: #ffc5c4;
$gray-10: #1a1a1a;
$gray-20: #262626;
$gray-30: #323232;
$gray-40: #3a3a3a;
$gray-50: #777;
$gray-60: #949494;
$gray-70: #b7b7b7;
$gray-80: #dfdfdf;
$gray-90: #e8e8e8;
$gray-100: #f5f5f5;
$white-10: #ffffff0f;
$white-20: #ffffff14;
$white-30: #ffffff1a;
$white-40: #ffffff24;
$white-50: #ffffff38;
$white-60: #ffffff4d;
$white-70: #fff6;
$white-80: #fff9;
$white-90: #fffc;
$white-100: #ffffff;
$black-10: #00000005;
$black-20: #0000000a;
$black-30: #0000000f;
$black-40: #00000014;
$black-50: #00000021;
$black-60: #00000036;
$black-70: #00000057;
$black-80: #0000008c;
$black-90: #000000e3;
$black-100: #000000;

$sidebar: #fdfdfd;
$border: #e4e4e4;
$inputborder: #c6cdd7;
$bodytext: #727272;
$heading: #222124;
$tablebg: #f1f5f9;
$tablehead: #f1f5f9;
$tableborder: #d2dbe5;

$shadow-1:
  0px 1px 1px 0px rgba(37, 41, 46, 0.1019607843),
  0px 3px 6px 0px rgba(37, 41, 46, 0.1215686275);
$shadow-2: 0px 1px 1px 0px rgba(37, 41, 46, 0.1019607843);
