$font: 'Basel', sans-serif;

$black: #000000;
$white: #ffffff;

$orange-100: #ffb800;
$orange-300: #ff7f0a;
$brown-100: #ff9a34;
$brown-300: #df5a17;
$red-100: #ff4b4b;
$red-300: #ef1f53;
$pink-100: #ffa3c9;
$pink-300: #ef5fb3;
$rose-100: #fa9dff;
$rose-300: #c25dde;
$lavender-100: #e69eff;
$lavender-300: #8238e0;
$purple-100: #ba8eff;
$purple-300: #5936d8;
$blue-100: #4aa5ff;
$blue-300: #2a5df7;
$sky-100: #82daff;
$sky-300: #1aa2ef;
$teal-100: #24e9c1;
$teal-300: #009792;
$aqua-100: #28ed9b;
$aqua-300: #00ae84;
$green-100: #42e670;
$green-300: #07aa50;
$lime-100: #b1e938;
$lime-300: #61bb00;
$yellow-100: #ffdd33;
$yellow-300: #e89a00;
$gray-100: #b7b7b7;
$gray-300: #6f6f6f;

$backcol: #ececee;
$btnblue: #0054c2;
$btnhover: #193d92;
$sidebar: #fdfdfd;
$border: #e4e4e4;
$inputborder: #c6cdd7;
$bodytext: #727272;
$heading: #222124;

$shadow-1:
  0px 1px 1px 0px rgba(37, 41, 46, 0.1019607843),
  0px 3px 6px 0px rgba(37, 41, 46, 0.1215686275);
