@use './color' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: $font;
  font-weight: 500;
  background: $backcol;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font-family: $font;
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
  overflow-wrap: break-word;
}

a {
  font-family: $font;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ol,
ul {
  padding-left: 0;
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: $font;
}

#root,
#__next {
  isolation: isolate;
}
