@use './color' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  word-wrap: break-word;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  font-size: 15px;
  font-family: $font;
  font-weight: 500;
  background: $backcol;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: $font;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
  overflow-wrap: break-word;
  text-wrap: balance;
}

p {
  font-family: $font;
  overflow-wrap: break-word;
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ol,
ul {
  padding-left: 0;
  list-style: none;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: initial;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-color: inherit;
  border-spacing: 0;
  font-family: $font;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: $font;
  font: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

input[type='password'],
input[type='text'],
textarea {
  -webkit-appearance: none;
}

input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='time'] {
  -webkit-appearance: listbox;
}

input[type='number'] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
  background-color: initial;
  background-image: none;
}

:disabled {
  cursor: default;
}

#root,
#__next {
  isolation: isolate;
}
