@use 'sass:color';
@use '../core/color' as *;

.app_data_table_cover {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  .app_heading_info {
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    h2 {
      font-size: 15px;
      font-weight: 500;

      & > span {
        color: $gray-300;
        margin-left: 10px;
        font-size: 12px;
        font-weight: 500;
      }
    }

    .app_right_search_sorting {
      .app_header_search {
        width: 320px;
        display: flex;
        padding: 0 12px;
        align-items: center;
        border-radius: 6px;
        background: $white;
        border: 1px solid $inputborder;
        overflow: hidden;
        gap: 12px;

        & > input {
          width: 100%;
          height: 38px;
          font-weight: 500;
          font-size: 15px;
          color: $black;
          border: 0px solid transparent;
        }
      }
    }
  }

  .app_data_table_main_cover {
    width: 100%;
    background: $white;
    border: 1px solid $tableborder;
    border-radius: 6px;
    overflow: auto;

    table {
      width: 100%;

      thead {
        background: $tablehead;

        tr {
          border-bottom: 1px solid $tableborder;
          th {
            padding: 0.7rem 1rem;
            text-align: left;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 500;

            .app_sort_header {
              display: flex;
              width: auto;
              cursor: pointer;
              align-items: center;
              gap: 5px;

              & > svg {
                width: 14px;
                height: 14px;
              }
            }

            &:last-child {
              text-align: right;
            }
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid $border;

          td {
            text-align: left;
            padding: 0.5rem 1rem;
            font-size: 15px;
            font-weight: 500;

            a {
              color: $btnblue;
              text-decoration: underline;
            }

            .app_table_row_btns {
              display: flex;
              justify-content: flex-end;
              gap: 6px;

              & > button {
                display: flex;
                align-items: center;
                border: 0px solid transparent;
                padding: 10px;
                cursor: pointer;
                border-radius: 4px;
                background: $tablehead;
                transition: 0.5s;

                &.app_table_edit_btn {
                  color: $btnblue;
                }

                &.app_table_delete_btn {
                  color: $red-300;
                }

                & > svg {
                  width: 14px;
                  height: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.app_table_footer_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 26px;

  .app_footer_spcl_info {
    display: flex;
    gap: 24px;

    .app_got_page {
      display: flex;

      & > input {
        width: 34px;
        height: 34px;
        text-align: center;
        border-radius: 6px;
        font-weight: 500;
        font-size: 15px;
        color: $black;
        border: 1px solid $inputborder;
      }
    }
  }

  .app_footer_btn_group {
    display: flex;

    .app_pagination_btn {
      display: flex;
      padding: 10px;
      cursor: pointer;
      align-items: center;
      gap: 5px;

      & > svg {
        width: 14px;
        height: 14px;
      }
    }
  }
}
