@use 'sass:color';
@use '../core/color' as *;

.app_data_table_cover {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  .app_heading_info {
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    h2 {
      font-size: 15px;
      font-weight: 500;

      & > span {
        color: $gray-300;
        margin-left: 10px;
        font-size: 12px;
        font-weight: 500;
      }
    }

    .app_right_search_sorting {
      .app_header_search {
        width: 320px;
        display: flex;
        padding: 0 12px;
        align-items: center;
        border-radius: 6px;
        background: $white;
        border: 1px solid $inputborder;
        overflow: hidden;
        gap: 12px;

        & > input {
          width: 100%;
          height: 38px;
          font-weight: 500;
          font-size: 15px;
          color: $black;
          border: 0px solid transparent;
        }
      }
    }
  }

  .app_data_table_main_cover {
    width: 100%;
    background: $white;
    border: 1px solid $border;
    border-radius: 10px;
    overflow: auto;
    height: 630px;

    table {
      width: 100%;

      thead {
        tr {
          border-bottom: 1px solid $border;

          th {
            text-align: left;
            padding: 8px 14px;
            font-size: 13px;
            font-weight: 500;
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid $border;

          td {
            text-align: left;
            padding: 8px 14px;
            font-size: 15px;
            font-weight: 500;

            .app_table_row_btns {
              display: flex;
              gap: 6px;

              & > span {
                display: flex;
                align-items: center;

                & > svg {
                  width: 14px;
                  height: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
