@use '../core/color' as *;

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;

  &[open] > summary::after {
    transform: rotate(180deg);
  }

  summary {
    list-style: none;

    & > svg {
      width: 20px;
      height: 20px;
      color: $gray-30;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 44px;
    padding: 0px 16px;
    background: $white-100;
    border: 1px solid $gray-60;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
  }

  &__menu {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    background: $white-100;
    border: 1px solid $gray-60;
    border-radius: 6px;
    z-index: 10;
    padding: 10px 12px;
    box-shadow: $shadow-1;
    max-height: 250px;
    overflow-y: auto;
  }

  &__search-cover {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0px 0px 0px 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid $gray-60;

    & > svg {
      width: 24px;
      height: 24px;
      color: $gray-30;
    }

    & > input {
      width: 100%;
      height: 40px;
      padding-left: 14px;
      font-size: 14px;
      font-weight: 500;
      background: transparent;
      border: 0px solid transparent;
    }
  }

  &__group {
    padding: 4px 0;
  }

  &__label {
    font-size: 14px;
    font-weight: 500;
    color: $gray-30;
  }

  &__group-label {
    font-size: 13px;
    font-weight: 500;
    padding: 6px 14px;
    color: $gray-30;
    border-radius: 4px;
    background: $backcol;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 8px 14px;
    cursor: pointer;
    border-radius: 4px;

    &:hover,
    &--selected {
      background: $blue-100;
    }
  }

  &__icon {
    margin-right: 8px;
  }

  mark {
    font-weight: 600;
    color: $blue-100;
  }

  &__empty {
    padding: 10px;
    color: $gray-30;
    text-align: center;
  }
}
